div.side_band {
  max-width: 20%;
  float: left;
  margin: 20px 20px;
  height: 100%;
  min-height: 100%;
}

div.main_details {
  width: 73%;
  float: right;
}



div.box {
  height: 100%;
  padding: 5px 8px;
  border: 2px solid;
  border-color: var(--box-head-col);
  border-bottom-left-radius: var(--box-border-radius);
  border-bottom-right-radius: var(--box-border-radius);
}

div.side_band div.block_head {
  margin: 0px;
  
}

p.title {
  margin: 5px 0px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
  color: var(--text-extra-col);
}

div.log_entry {
  font-size: 14px;
}

.side_band input[type=submit] {
  width: 100%;
  margin: 3px 0px;
  padding: 3px 2px;
}