.field {
  width: 90%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.field label {
  color: var(--text-extra-col);
  display: inline-block;
  width: 10%;
  padding: 10px;
}



.field input {
  padding: 5px;
  width: 80%;
}

.field_check {
  display: inline-block;
}

.field_check label {
  color: var(--text-extra-col);
  padding-left: 20px;
  padding-right: 5px;
}

.field_check input {
  margin-top: 5px;
}

div.options {
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  margin: auto;
  margin-top: 0px;
}

.options .field {
  width: 95%;

}

span.select2-container--default {
  width: 150px;
}

.options label {
  width: 20%;
}

.options input {
  width: unset;
  display: inline-block;
}

#add_class {
  width: 100px;
  margin: 5px;
  padding: 7px
}

#class_table {
  font-size: 14px;
  width: 40%;
  margin-left: 20%;
  border-collapse: collapse;
  
}

#class_table th {
  font-weight: lighter;
}

#class_table .perm_code {
  width: 50px;
}

#class_table td {
  text-align: center;
}

h4 {
  margin: 0px;
  font-family: var(--aux-font-fam);
}

div.general, div.str_op {
  background-color: var(--grey-back-col);
  padding: 3px 10px;
  border-radius: var(--box-border-radius);
  margin: 5px 0px;
}

#ketcher_div {
  width: 80%;
  height: 500px;
  overflow: hidden;
  padding: 10px;
  margin: auto;
}

#ketcher-frame {
  width: 100%;
  height: 100%;
}

#results {
  min-height: 1000px;
}

#results .other {
  font-size: 16px;
  padding: 0px 20px;
  padding-bottom: 15px;
}

div.hit, div.empty_hit{
  width: 100%;
  display: block;
  background-color: var(--search-box-col);
  padding: 0px;
  #border-bottom: 1px solid;
  #border-top: 1px solid;
  margin: 0px;
  padding: 0px 0px;
  #border-radius: var(--box-border-radius);
  overflow: hidden;
}

div.empty_hit {
  opacity: 0.3;
}

div.hit:hover, div.empty_hit:hover {
  cursor: pointer;
  background-color: var(--search-box-col);
}

hr.sep {
  margin: 0px;
  width: 100%;
}

div.top {
  width: 100%;
  padding: 0px 0px;
  overflow: hidden;
}

div.bottom {
  overflow: hidden;
  padding-left: 95px;
  display: block;
}

div.image {
  float: left;
  width: 80px;
  padding: 6px 2px;
  background-color: white;
}

img.structure {
  width: 80px;
}

/*div.name_top {
  display:table;
  height:80px;
  width: 40%;
  float:left;
  padding-left: 10px;
}
*/

div.res_field {
  float: left;
  width: 80%;
  margin: 0px;
  padding: 2px 10px;
}

div.other_names {
  width: 25%;
  float: left;
  overflow: hidden;
  vertical-align: top;
}

div.items {
  width: 25%;
  float: left;
  overflow: hidden;
}

#warning {
  width: 20%;
  padding: 0px;
}

p.warning {
  margin: 0px;
  color: darkred;
  font-size: 14px;
}

div.picts {
  width: 30%;
  float: right;
  overflow: hidden;
}

img.pictogram {
  width: 64px;
}

#formula {
  width: 12%;
}

#cas {
  width: 12%;
}

#group {
  width:30%;
}



.name, .name:visited {
  padding: 0px;
  margin: 0px;
  font-family: var(--aux-font-fam);
  color: var(--text-highlight-col);
  font-weight: bold;
  text-decoration: none;
}

.name:hover {
  text-decoration: underline;
}

p.subtitle {
  font-size: 14px;
  margin: 0px;
  color: var(--text-extra-col)
}



p.res_field, p.value {
  font-weight: unset;
  margin: 0px;
}

p.res_field {
  font-weight: lighter;
  color: var(--text-extra-col)
}

div.step-links {
  font-family: var(--aux-font-fam);
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 15px;
}

