:root {
  --main-font-fam:Roboto,Verdana,Arial,Sans-serif;
  --main-font-fam-cond:Roboto Condensed,Verdana,Arial,Sans-serif;
  --aux-font-fam:Cabin;
  --grey-back-col:gainsboro;
  --footer-col:darkgrey;
  --main-col: white;
  --text-highlight-col: firebrick;
  --text-extra-col: darkslategray;
  --box-col: white;
  --search-box-col: whitesmoke;
  --box-font-color: black;
  --box-head-col: lightslategrey;
  --box-head-font-col: white;
  --box-border-radius: 6px;
}

body {
  font-family: var(--main-font-fam);
  margin: 0px;
  background-color: var(--main-col);
    
}

hr {
  color: var(--text-highlight-col);
  background-color:var(--text-highlight-col);
  border-width: 0px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
}

hr.block_sep {
  color: var(--text-extra-col);
  background-color:var(--text-extra-col);
  height: 1px;
  margin-bottom: 30px;
}

input[type=submit], input[type=button]{
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: var(--aux-font-fam);
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background-color: var(--text-highlight-col);
  border:2px solid;
  border-color: var(--text-highlight-col);
  border-radius: var(--box-border-radius);
  transition-duration: 0.4s;
  opacity: 0.9;
}

input[type=submit]:disabled, input[type=button]:disabled {
  opacity: 0.5;
}

input[type=submit]:disabled:hover, input[type=button]:disabled:hover {
  opacity: 0.5;
  color: white;
  background-color: var(--text-highlight-col);
  cursor:unset;
}


.item_form {
  display: inline-block;
}

input.small {
  padding: 0px 5px;
  width: 90px;
  font-weight: unset;
  background-color: var(--box-head-col);
  border-color: var(--box-head-col);
  display: inline-block;

}


input[type=submit]:hover, input[type=button]:hover {
  color: var(--text-highlight-col);
  background-color: white;
  cursor: pointer;
}

input.small:hover {
  color: var(--box-head-col);
}

input[type=submit][disabled=true], input[type=button][disabled=true]{
  color: white;
  background-color: var(--text-highlight-col);
  cursor: unset;
}

input[disabled=true] {
  opacity: 0.5;
}

input.small[type=submit][disabled=true]{
  color: white;
  background-color: var(--box-head-col);

}

input.small[disabled=true]:hover {
  background-color: var(--box-head-col);
  color: white;
  cursor:unset;
}






div.topband {
  background-color: var(--grey-back-col);
  overflow: hidden;
}



div.main_content {
  overflow: hidden;
  min-height: 900px;
}

div.main {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1400px;
  width: 70%;
  margin: auto;


}



footer {
  background-color:  var(--footer-col);
  color:white;
  height: 160px;
  margin-top: 50px;
  padding: 50px;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
}

div.navigation {
	width: 100%;
	display: block;
  margin: 0px;
  padding: 0px;
  height: 108px;
  overflow: hidden;

}

div.logo {
	float:left;
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
  padding-top: 22px;
  width: 120px;
  color: var(--text-highlight-col)

}

img.logo {
	display: inline-block;
	float:left;
	padding: 22px 16px;
}

div#user_info {
  width: 60%;
  float: right;
  text-align: right;
  margin: 0px 30px;
  margin-top: 10px;
  font-size: 14px;
  color: var(--text-extra-col);
}

span#username {
  font-weight: bold;
  margin-right: 10px;
}

.navigation > ul {
    float: right;
    list-style-type: none;
    margin:0px;
    padding-top: 30px;
    overflow: visible;
  
}

.navigation > li {
    float: right;
}


.navigation > li a {
    display: block;
    color:var(--text-highlight-col);
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.navigation a:hover {
    background-color: var(--main-col);
}

#admin_link {
  font-weight: lighter;
  color: var(--text-extra-col);
  font-family: var(--main-font-fam-cond);
}


div.title {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

div.names {
  width: 70%;
  float: left;
}

p.warning {
  margin: 0px;
  color: darkred;
  font-size: 14px;
}

p#password_warning {
  font-size: 14px;
  color: darkred;
  margin: auto;
  text-align: center;
  margin: 5px;
}

p.success {
  margin: 0px;
  color: forestgreen;
  font-size: 14px;
}

h1 {
  color: var(--text-highlight-col);
  font-family: var(--main-font-fam-cond);
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size:32px;
}

h2, h3 {
  color: var(--text-highlight-col);
  font-family: var(--aux-font-fam);
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size:20px;
  
}

h3 {
  font-size: 16px;
  font-weight: normal;
  padding: 5px 20px;
  font-family: unset;
}

p.subtitle {
  color: var(--text-highlight-col);
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
}

p.other {
  font-size: 18px;
  color: var(--text-extra-col);
  margin: 0px;
  padding: 0px;
}

.label {
  color: var(--text-extra-col);
  font-weight: lighter;
}

.value {
    font-weight: bold;
}

div.label {
  float:left;
  width: 12%;
  margin-right: 10px;
  font-weight: unset;
}

div.value {
  font-size: 16px;
  margin-bottom: 5px;
}

a {
  color:  var(--text-extra-col);
}

a:visited {
  color:  var(--text-extra-col);
}

.block {
  background-color: var(--box-col);
  color: var(--box-font-col);
  padding: 10px;
  padding-top: 5px;
  margin-top: 0px;
  border-bottom-left-radius: var(--box-border-radius);
  border-bottom-right-radius: var(--box-border-radius);
  border: 1px solid;
  border-color: var(--box-head-col);
}

.block_head {
  background-color: var(--box-head-col);
  color: var(--box-head-font-col);
  font-weight: bold;
  border: 1px solid;
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 15px;
  border-top-left-radius: var(--box-border-radius);
  border-top-right-radius: var(--box-border-radius);
  border-color: var(--box-head-col);
}

#deleted_block, #deleted_block_head {
  opacity: 0.6;
}

tr {
  height: 25px;
}

#orz_table td, #orz_table th {
  padding-left: 15px;
  padding-right: 15px;
}


div.image {
  width: 30%;
  float:right;
}

div.picts {
  width:100%;
  overflow:hidden;
}

img.structure {
  width: 150px;
}

img.pictogram {
  width: 100px;
  float: left;
  padding: 5px;
}


div.two_part {
  display:inline-block;
  width: 100%;
}

div.two-cols {
  width: 65%;
  float: left;
 
}

#listing,#listing_head {
  width: 30%;
  float:right;
  font-size: 15px;
}

p.list_item {
  width: 90%;
  color: var(--text-extra-col);
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

.control:hover {
  cursor: pointer;
}