.server_log_entry {
  color: var(--text-extra-col);
  font-family: var(--main-font-fam-cond);
  font-weight: lighter;
  margin: 1px 10px;
  font-size: 14px;

}

.log_table tr:nth-child(odd) {
  background-color: #f2f2f2
}

.log_table {
  width: 100%;
  border-collapse: collapse;
  /*font-weight: lighter;*/
  margin: 30px 0px
}

.log_table th {
  height: 50px;
  color: white;
  background-color: var(--box-head-col);
  
}

.log_table td {
  height: 40px;
  padding: 3px 10px;
  text-align: center;
  font-size: 11pt;
}

.fa-check {
  color: green;
}

.fa-times {
  color: darkred;
}

#add_new_user {
  padding: 10px 5px;
  width: 150px;
  margin-bottom: 10px;
  float: right;
}

div.field {
  margin: 10px 5px;
  padding: 4px 2px;
  border: 0px solid;
}

div.field label {
  width: 150px;
  display: inline-block;
  color: var(--text-extra-col);
  font-family: var(--aux-font-fam);
  border: 0px solid;
  vertical-align: middle;
  
}

div.field input {
  width: 400px;
  display: inline-block;
}

h3 {
  width: 220px;
  display: inline-block;
}

#perm_guide {
  display: inline-block;
  font-size: 11pt;
  margin-left: -40px;
}

#id_groups, #id_user_permissions, #id_own_groups {
  width: 420px;
}

#id_group, #id_permission {
  width: 600px;
}


#id_is_active, #id_is_staff, #id_is_superuser {
  width: unset;
  align: left;
  display: inline-block;
  vertical-align: middle;
  
}

#is_staff_field {
  width: 200px;
  display: inline-block;
}

#staff_error {
  width: 70%;
  display: inline-block;
  margin: 0px;
  padding: 10px 0px;
}

#staff_error p {
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
}

#staff_error .error {
  color: darkred;
}

#staff_error .notice {
  color: orange;
}


#permissions_label {
  vertical-align: top;
}

#perm_label_field {
  width: 150px;
  display: inline-block;
  padding-right: 0px;
  vertical-align: top;
  margin-left: 0px;
}

#perm_field {
  width: 900px;
  display: inline-block;
  margin-left: 0px;
}

.box_head {
  width: 100%;
  margin: 0px;
  background-color: var(--box-head-col);
  color: white;
  border: 1px solid;
  border-color: var(--box-head-col);
  padding: 5px;
}

.box_head:hover {
  cursor: pointer;
}

#edit_permission {
  width: 100%;
  background-color: var(--search-box-col);
  border-bottom-left-radius: var(--box-border-radius);
  border-bottom-right-radius: var(--box-border-radius);
  margin: 10px 0px;
  margin-top: 0px;
  border: 1px solid;
  border-color: var(--box-head-col);
  padding: 5px;
  padding-top: 0px;
  display: none;
}

#save_perm {
  padding: 3px;
  width: 100px;
  margin: auto;
  display: block;

}

#permissions {
  margin-top: 10px;
}


#perm_table {
  width: 101.5%;
  margin:  0px;
  border: 1px solid;
  border-color: var(--box-head-col);
}

#perm_table td {
  height: 30px;
}

#perm_table .perm_code {
  width: 30px;
}

#del_perm, #edit_perm {
  width: 80px;
}

#user_submit {
  margin: 30px 5px;
  padding: 10px 40px;
}

#user_submit[disabled] {
  opacity: 0.4;
}

div#password_field {
  width: 600px;
  display: inline-block;
}

div.password_errors {
  width: 400px;
  display: inline-block;
  color: darkred;
}

#password_field {
  margin-top: 20px;
}

#password_commit_field {
  margin-bottom: 35px;
}



 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    font-size: 12pt;
    font-family: var(--aux-font-fam);
    color: var(--text-extra-col);
    font-weight: light;
    
}

.modal-content h3 {
  width: 50%;
  display: block;
  margin: 10px 0px;
  padding: 0px;
  font-family: var(--main-font-fam);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

div#entries {
  margin-top: 20px;
}

div.item {
  border-top: 1px solid;
  direction: block;
  padding: 10px;
  background-color: var(--search-box-col);
}

div.item:hover {
  cursor: pointer;
  background-color: white;
}

div.code {
  display: inline-block;
  width: 150px;
  font-family: var(--main-font-fam);
  color: var(--text-highlight-col);
}

div.bottom {
  padding-left: 154px;
  padding-top: 10px;
  display: none;
}

div.pdf {
  display: inline-block;
}

div.opis {
  display: inline-block;
  font-family: var(--aux-font-fam);
  color: var(--text-extra-col);
  width: 80px;
  vertical-align: top;
}

div#incl_cmpds {
  width: 170px;
}

#id_stanowisko {
  margin-right: 10px;
}

#id_kod_stanowiska {
  width: 150px;
}

#hidden_field {
  display: none;
}


#new_form:hover {
  cursor: pointer;
}

div.val, div.val_long {
  display: inline-block;
  font-family: var(--main-font-fam);
  width: 150px;
  vertical-align: top;
}

div.val_long {
  width: 300px;
}

#spiner_canvas {
  width: 6em;
  height: 6em;
}

#orz_input {
  margin-top: 35px;
  margin-bottom: 92px;
  display: ;
}

#wait_box {
  padding-top: 0px;
  margin-top: -15px;

}


p.intro {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 5px;
  color: var(--text-extra-col);
}
