{% extends "chembase/base.html" %}

{% block content %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'chembase/style_search.css' %}">
<link rel='stylesheet' type="text/css" href="{% static 'chembase/style_add_cmpd.css' %}">
<link rel='stylesheet' type="text/css" href="{% static 'chembase/style_add_item.css' %}">
<script src="{% static 'chembase/script_add_item.js' %}"></script>

<div class='main'>
{% if item_id == 'new' %}
<h2>Add item</h2>
{% else %}
<h2>Edit item {{item_id}}</h2>
{% endif %}

<p class='control' id='names_ctrl'>Compound information:</p>

<div class='names' id='cmpd_block'>
<hr class='block_sep'>

<div class='title'>

<div class='image'>
<img class='structure' src='{% static "/chembase/" %}{{compound.image }}' alt='structure'/>
</div>

<div class='names'>
<h2>{{compound.name}}</h2>
<p class='subtitle'>{{compound.subtitle}} </p>

<p class='other'>Other names: {{compound.all_names}}</p>
<p class='other'>PL: {{compound.pl_name}}{% if compound.pl_subtitle != "" %}, {{compound.pl_subtitle}}{% endif %}</p>

</div>

</div>

<div class='label'>Group: </div><div class='value'>{{compound.group}} </div>

<div class='label'>Compound Id: </div><div class='value'>{{compound.id}} </div>

<div id='left_div'>
<div class='label'>Formula: </div><div class='value'>{{compound.formulaHTML|safe}} </div>
<div class='label'>Molecular weight: </div><div class='value'>{{compound.weight}} </div>
<div class='label'>CAS: </div><div class='value'>{{compound.cas}} </div>
</div>

<div id='right_div'>
<div class='label'>CSID: </div><div class='value'>{{compound.csid}} </div>
<div class='label'>SMILES: </div><div class='value'>{{compound.smiles}} </div>
<div class='label'>InChI: </div><div class='value'>{{compound.inchi}} </div>
</div>

<div class='label'>Storage temperature: </div><div class='value'>{{compound.storage_temp}} </div>

<a id='full_info' target='_blank' href='{% url "chembase:detail" compound.id %}'>Click here to see more information about this compound</a>
{% if item_id == 'new' %}
<form action="{% url 'chembase:add_cmpd' %}" method="post" class='options_form'>
{% csrf_token %}
<input type='hidden' name='type' value='edit' />
<input type='hidden' name='cmpd_id' value={{compound.id}} />
<input type='hidden' name='output' value='update' />
<input type='hidden' name='redirect' value="" />
<input type='submit' value='Edit data' {% if not can_edit %} disabled='true' {% endif %} />
</form>

<form action="{% url 'chembase:add_cmpd' %}" method="post" class='options_form'>
{% csrf_token %}
<input type='hidden' name='type' value='edit' />
<input type='hidden' name='cmpd_id' value={{compound.id}} />
<input type='hidden' name='output' value='new' />
<input type='hidden' name='redirect' value="" />
<input type='submit' value='Edit data and save as new compound' {% if not can_add_cmpd %} disabled='true' {% endif %} />
</form>
{% endif %}


</div>

<p class='control' id='item_ctrl'>Item information:</p>
<div class='names' id='item_block'>
<hr class='block_sep'>
<form enctype="multipart/form-data" action="{% url 'chembase:item_save' %}" method="post">
{% csrf_token %}

<input type='hidden' name='cmpd_id' value={{compound.id}} />
<input type='hidden' name='item_id' value={{item_id}} />

<div class='field'>
{{form.quantity.errors}}
<label for="{{form.quantity.id_for_label}}">Quantity:</label>
{{form.quantity}}
</div>

<div class='field'>
{{form.amount.errors}}
<label for="{{form.amount.id_for_label}}">Amount (g or ml):</label>
{{form.amount}}
</div>


<div class='field' id='local'>
{{form.room.errors}}
<label for="{{form.room.id_for_label}}">Room:</label>
{{form.room}}
{{form.place.errors}}
<label for="{{form.place.id_for_label}}">Shelf:</label>
{{form.place}}
{{form.place_num.errors}}
<label for="{{form.place_num.id_for_label}}">Number:</label>
{{form.place_num}}

<input type='hidden' value='{{room_init}}' id='room_in' />
<input type='hidden' value='{{place_init}}' id='place_in' />
<input type='hidden' value='{{place_num_init}}' id='place_num_in' />
</div>

<div class='field'>
{{form.local.errors}}
<label for="{{form.local.id_for_label}}">Location:</label>
{{form.local}}
</div>



<div class='field'>
{{form.hidden.errors}}
<label for="{{form.hidden.id_for_label}}">Hidden:</label>
{{form.hidden}}
</div>

<div class='field'>
{{form.comment.errors}}
<label for="{{form.comment.id_for_label}}">Comment:</label>
{{form.comment}}
</div>

<div class='field'>
{{form.owner.errors}}
<label for="{{form.owner.id_for_label}}">Item owner:</label>
{{form.owner}}
</div>

<input type='Submit' value='Save' />
</form>

</div>

</div>

{% endblock %}


