{% extends "chembase/base.html" %}

{% block title %} Users passwords expiry - Admin Tools {% endblock %}

{% block content %}
{% load static %}


<link rel='stylesheet' type="text/css" href="{% static 'chembase/style_admin.css' %}">
<script src="{% static 'chembase/script_admin.js' %}"></script>

<div class='main'>
<div class='title'>

<div class='nav_links'>
<a href="{% url 'chembase:admin' %}">Admin site</a> > <a href="{% url 'chembase:admin_users_groups' %}">Users, groups and permissions</a> 
> <a href="{% url 'chembase:admin_users' %}">Users</a> > Force passwords expiry
</div>


<h1>System administration</h1>


<h2>Forcing users password expiry</h2>

<form action="{% url 'chembase:admin_user_expire'  %}" method="post" id="expiry_form">
{% csrf_token %}



<div class='field'>
{{form.users.errors}}
<label for="{{form.users.id_for_label}}">Users:</label>
{{form.users}}
</div>


<div class='field' id='expiry_date_field'>
{{form.exp_date.errors}}
<label for="{{form.exp_date.id_for_label}}">Expire within </label>
{{form.exp_date}}
<label >days from now.</label>
</div>

<div class='field' id='if_mail_field'>
{{form.if_mail.errors}}
<label for="{{form.if_mail.id_for_label}}">Send mail:</label>
{{form.if_mail}}
</div>

<input type='Submit' id='exp_submit' value='Start' />

</form>

<div class='add_box' id='wait_box' style='display:none'>
<!-- spinner 2 -->
<link rel='stylesheet' type="text/css" href="{% static 'chembase/spinner2.css' %}">
<div class="container">
  <div id='spiner_canvas' class="canvas canvas1">
    <div class="spinner1 spinnerMax">
      <div class="spinner1 spinnerMid">
        <div class="spinner1 spinnerMin"></div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="server_responses">


</div>

</div>
</div>

{% endblock %}