{% extends "chembase/base.html" %}

{% block content %}
{% load static %}

<link rel='stylesheet' type="text/css" href="{% static 'chembase/style_admin.css' %}">

<div class='main'>
<div class='title'>

<h1>System administration</h1>


<h2>Users:</h2>


<form action="{% url 'chembase:admin_user' 0 %}" method="get" class='options_form'>
<input class ='small' id='add_new_user' type='submit' value='Add new user' />
</form>


<table class='log_table' summary="System logs" >
<tr>
<th>Username</th>
<th>Fisrt name</th>
<th>Last name</th>
<th>E-mail address</th>
<th>Active</th>
<th>Superuser</th>
<th>Groups</th>
</tr>
{% for item in users %}
<tr>
<td><a href="{% url 'chembase:admin_user' item.id %}" >{{item.username}}</a></td>
<td>{{item.first_name}}</td>
<td>{{item.last_name}}</td>
<td>{{item.email}}</td>
<td>{% if item.is_active %}
<i class="fa fa-check" aria-hidden="true"></i>
{% else %}
<i class="fa fa-times" aria-hidden="true"></i>
{% endif %}
</td>
<td>{% if item.is_superuser %}
<i class="fa fa-check" aria-hidden="true"></i>
{% else %}
<i class="fa fa-times" aria-hidden="true"></i>
{% endif %}</td>
<td>{% for group in item.userprofile.own_groups.all %}
<p class='group'>{{group}}</p>
{% endfor %}
</td>

</tr>
{% endfor %}

</table>
</div>
</div>


</div>
{% endblock %}