{% extends "chembase/base.html" %}

{% block content %}
{% load static %}

<link rel='stylesheet' type="text/css" href="{% static 'chembase/style_admin.css' %}">

<div class='main'>
<div class='title'>

<h1>System administration</h1>


<h2>Details of group >>{{group}}<< </h2>

</div>

<h3>Users and permissions</h3>

<table class='log_table' summary="System logs" >
<tr>
<th>User</th>
<th>Fisrt name</th>
<th>Last name</th>
<th>Can see item</th>
<th>Can change item</th>
<th>Permission</th>

</tr>
{% for item in permissions %}
<tr>
<td><a href="{% url 'chembase:admin_user' item.id %}">{{item.user}}</a></td>
<td>{{item.first_name}}</td>
<td>{{item.last_name}}</td>
<td>{% if item.see_item %}
<i class="fa fa-check" aria-hidden="true"></i>
{% else %}
<i class="fa fa-times" aria-hidden="true"></i>
{% endif %}
</td>
<td>{% if item.change_item %}
<i class="fa fa-check" aria-hidden="true"></i>
{% else %}
<i class="fa fa-times" aria-hidden="true"></i>
{% endif %}
</td>
<td>
{% for x in item.all_permissions %}
<p>{{x}}</p>

{% endfor %}
</td>




</tr>
{% endfor %}

</table>





</div>


</div>
{% endblock %}