{% extends "chembase/base.html" %}

{% block title %} Admin {% endblock %}

{% block content %}
{% load static %}

<link rel='stylesheet' type="text/css" href="{% static 'chembase/style_admin.css' %}">

<div class='main'>
<div class='title'>

<h1>System administration</h1>

<form action="{% url 'chembase:admin_cmpds_items' %}" method="get" class='tile_form'>
<input class ='tile' id='cmpds' type='submit' value='Compounds and items' />
</form>

<form action="{% url 'chembase:admin_users_groups' %}" method="get" class='tile_form'>
<input class ='tile' id='users' type='submit' value='Users, group and permission' />
</form>

<form action="{% url 'chembase:admin_server' %}" method="get" class='tile_form'>
<input class ='tile' id='server' type='submit' value='Server status' />
</form>

<form action="{% url 'chembase:admin_settings' %}" method="get" class='tile_form'>
<input class ='tile' id='settings' type='submit' value='Settings' />
</form>

</div>
</div>

</div>
{% endblock %}