{% extends "chembase/base.html" %}

{% block title %} Admin - compounds and items {% endblock %}

{% block content %}
{% load static %}

<link rel='stylesheet' type="text/css" href="{% static 'chembase/style_admin.css' %}">

<div class='main'>
<div class='nav_links'>
<a href="{% url 'chembase:admin' %}">Admin site</a> > Compounds and Items
</div>
<div class='title'>

<h1>System administration: Compound and Items</h1>


<h2>General information:</h2>

<h3>Compounds</h3>

Total number: {{compounds_number}}, active: {{existing_cmpds}}



<h2>System logs:</h2>

<table class='log_table' summary="System logs" >
<tr>
<th>Time</th>
<th>Model</th>
<th>Compound</th>
<th>Item</th>
<th>Action</th>
<th>Author</th>
<th>Comment</th>
</tr>
{% for item in system_log %}
<tr>
<td><span class='log_date'>{{item.date|date:'Y-m-d H:i'}}</span></td>
<td>{{item.model}}</td>
<td><a href="{% url 'chembase:detail' item.compound_id %}" >{{item.compound_name}}</a></td>
<td>{{item.item}}</td>
<td>{{item.action}}</td>
<td>{{item.author}}</td>
<td>{{item.comment}}</td>

</tr>
{% endfor %}

</table>

<a href="{% url 'chembase:admin_logs' %}">Show more logs</a>



</div>
</div>


</div>
{% endblock %}