{% extends "chembase/base.html" %}

{% block content %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'chembase/login.css' %}">
<div class='main_box'>

<div class='login_box'>

<p class='block_head'>Change password:</p>
<div class="block">

<form method="post" action="{% url 'chembase:change_password' %}">
{% csrf_token %}
<div id='pass_change'>
{{form.as_table}}
</div>
<input type="submit" value="Change" />
<input type="hidden" name="next" value={{next}} />
</form>
</div>

</div>

</div>

{% endblock %}

