{% extends "chembase/base.html" %}

{% block content %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'chembase/login.css' %}">
<div class='main_box'>

<div class='login_box'>

<p class='block_head'>Sign in:</p>
<div class="block">
{% if form.errors %}
<p class='error'>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class='error'>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}
<form method="post" action="{% url 'chembase:login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" />
<input type="hidden" name="next" value={{next}} />
</form>
</div>

</div>

</div>

{% endblock %}

