{% extends "chembase/base.html" %}

{% block title %} Search results {% endblock %}

{% block content %}
{% load static %}
{% load chembase_tags %}
<link rel='stylesheet' type="text/css" href="{% static 'chembase/style_search.css' %}">
<script src="{% static 'chembase/script_search.js' %}"></script>


<div class='main'>

<div class='search_options'>
<h2>Search compounds:</h2>
<form action="{% url 'chembase:search' %}" method="get">
   {{form.non_field_errors}}
	<div class='field'>
	{{form.text.errors}}
	<label for="{{form.text.id_for_label}}">Name:</label>
	{{form.text}}
	</div> 
	
	<div class='field'>
	{{form.cas.errors}}
	<label for="{{form.cas.id_for_label}}">CAS:</label>
	{{form.cas}}
	</div> 
	
	<div class='field'>
	{{form.place.errors}}
	<label for="{{form.place.id_for_label}}">Place:</label>
	{{form.place}}
	</div> 

	<h3 class='control' id='str_open'>Structure edit</h3>
	{% if str %}
	<div id='ketcher_div'>
	{% else %}
	<div style='display:none' id='ketcher_div'>
	{% endif %}
	<iframe id='ketcher-frame' src="{% static 'chembase/ketcher/ketcher.html' %}" scrolling='no'></iframe>
	</div>
	{% if str %}
	<script type="text/javascript" >
	$('#ketcher-frame').on('load', function () {
          var ketcher = this.contentWindow.ketcher,
              source = $('#id_smiles'),
              molecule=localStorage.getItem('molecule');
              
			 ketcher.setMolecule(molecule);
			 source.val(ketcher.getSmiles());
			 
			 
			 
			 });
	</script>
	{% endif %}
	
	
	<h3 class='control' id='op_open'>Options</h3>
	<div class='options' style='display:none' id='options_block'>
	
	<div class='general'>
		<h4>General:</h4>
		<div class='field'>
		{{form.deleted.errors}}
		<label for="{{form.deleted.id_for_label}}">Include deleted items:</label>
		{{form.deleted}}
		</div>
		<div class='field'>
		{{form.group.errors}}
		<label for="{{form.group.id_for_label}}">Filter by group:</label>
		{{form.group}}
		</div>
	</div>
	<style type="text/css">
    	select {
    		  width: 400px;
    		}
 	 </style>
	
	<div class='str_op'>
		<h4>Structure:</h4>
		<div class='field'>
		{{form.stype.errors}}
		<label for="{{form.stype.id_for_label}}">Find:</label>
		{{form.stype}}
		</div> 
	
		<div class='field'>
		{{form.cutoff.errors}}
		<label for="{{form.cutoff.id_for_label}}">Similarity cutoff:</label>
		{{form.cutoff}}
		</div> 
	</div>
	
	<div class='general'>
		<h4>Risk classes:</h4>
		<div class='field'>
		{{pr_form.ghs_lass.errors}}
		<label for="{{pr_form.ghs_class.id_for_label}}">Risk class:</label>
		{{pr_form.ghs_class}}
		</div>
		<div class='field'>
		{{pr_form.number.errors}}
		<label for="{{pr_form.number.id_for_label}}">Category:</label>
		{{pr_form.number}}
		<input type='button' value='Add' id='add_class'/>
		
		<table id='class_table' class='log_table'>
		<thead>
		<tr>
		<th>Code</th>
		<th>Class</th>
		<th>Category</th>
		<th></th>
		</tr>
		</thead>
		<tbody>
		
		{% for class in ghs_classes %}
<tr id={{class.id}}>
<td><input class='perm_code' type='text' name='class_code_' value="{{class.id}}" /></td>
<td>{{class.group}}</td>
<td>{{class.number}}</td>
<td><input class='small' id='del_perm' type='button' value='Delete' num={{class.id}} /></td>
</tr>
{% endfor %}

		</tbody>
		</table>
		</div>
	</div>
	
	</div>
	<input type='hidden' name='smiles' id='id_smiles' />
	<input type="submit" value="Search" id='form_input' />
</form>

<hr class='block_sep'>
</div>
<div id='results'>
{% if results %}
<h2>Search results:</h2>
<p class='other'>{{found}} compounds found </p>
<hr class='sep'>
{% for compound in results %}
	{% if compound.how_many_items %}
	<div class='hit'>
	{% else %}
	<div class='empty_hit'>
	{% endif %}
	<div class='top'>
	<div class='image'>
	<img class='structure' src='{% static "/chembase/" %}{{compound.image }}' alt='structure'/>	
	</div>
<!--	<div class='name_top'> -->
	<div class='res_field'>	
		<a target='_blank' href="{% url 'chembase:detail' compound.id %}" class='name'>{{compound.name}}</a>
		{% if compound.subtitle %}
		<p class='subtitle'>{{compound.subtitle}}</p>
		{% endif %}
	</div>
<!--	</div>  -->
	<div class='res_field' id='cas'>
	<p class="value">
	CAS: {{compound.cas}}
	</p>	
	</div>
	
	<div class='res_field' id='formula'>
	<p class="value">
	{{compound.formulaHTML|safe}}	
	</p>
	</div>
	
	<div class='res_field' id='group'>
	<p class="res_field">
	{{compound.group}}	
	</p>
	</div>
	
	<div class='res_field'>
	<p class="res_field">
	{% allowed_items_number user compound %}
	</p>	
	</div>
	</div>
	<div class='bottom' style='display:none' >
	<div class='other_names'>
	<p class="subtitle">
	Other names: <br>
	{{compound.all_names}} <br>
	PL: {{compound.pl_name}}, {{compound.pl_subtitle}}
	</p>
	</div>
	
	<div class='items' id='items_div'>
	<p class="subtitle">
	Items:
	{% allowed_items_list user compound %}
	
	</p>
	</div>
	
	{% if compound.is_registered %}
	<div class='res_field' id='warning'>
	<p class="warning">
	Fill the usage registry!	
	</p>
	<p class='warning'>
	Uzupełnij kartę ewidencji rozchodu!	
	</p>
	</div>
	
	{% endif %}
	
	<div class='picts'>
	{% for pict in compound.pictograms.all %}
	<img class='pictogram' src='{% static "/chembase/" %}{{pict.path}}' alt='pictograms'/>
	{% endfor %}
	</div>
	</div>
	</div>
	<hr class='sep'>
	
{% endfor %}

{% if results.paginator.num_pages > 1 %}
<div class="pagination">
    <div class="step-links">
        {% if results.has_previous %}
            <a href="?{% url_replace page=results.previous_page_number %}">Previous</a>
        {% endif %}
			
        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}
        </span>

        {% if results.has_next %}
            <a href="?{% url_replace page=results.next_page_number %}">Next</a>
        {% endif %}
    </div>
</div>
{% endif %}

{% endif %}
</div>
</div>
{% endblock %}



